h1 {
    background:#879CD8;
    color: white;
    margin-bottom:0px;
    padding:15px;
    padding-bottom:40px;
    font-family: 'Pacifico', cursive;
}
.info{
    padding-top:10px;
}
#scores{
    margin-top:10px;
    margin-bottom:10px;
}
.info,
#puppy-photos{
    border: 2px solid #879CD8;
    color: #365396;
}
#win-loss-counter,
#user-score{
    border: 2px dashed #879CD8;
    color: #365396;
    padding: 10px;
    margin: 10px;
}
#target-score{
    border: 3px solid #879CD8;
    font-size:30px;
    padding:20px;
}

.col,
div.container.header{
    padding:0px;
}
img{
    height:200px;
    width:200px;
}
#puppy-photos{
    padding-top: 10px;
    padding-bottom: 10px;
}